In [156]:
import pandas as pd

In [217]:
df = pd.read_csv('全量数据/secumain.csv')

In [218]:
df = df.iloc[:,[3, 4, 11, 12]]

In [219]:
df = df[df['SecuCategory'] == 1]

In [220]:
# 假设 df 是你的 DataFrame，SecuCode 是要筛选的列名
valid_start = ['0', '3', '6']
df = df[df['SecuCode'].str.startswith(tuple(valid_start))]

In [221]:
def add_suffix(secucode):
    if secucode.startswith('0') or secucode.startswith('3'):
        return secucode + '.SZ'
    elif secucode.startswith('6'):
        return secucode + '.SH'
    else:
        return secucode  # 不符合条件的保持原样

# 将函数应用到 SecuCode 列
df['SecuCode'] = df['SecuCode'].apply(add_suffix)

In [222]:
df = df.dropna()

In [223]:
df['ListedDate'] = pd.to_datetime(df['ListedDate'])
df['ListedDate'] = df['ListedDate'].dt.strftime('%Y-%m-%d')
df['ListedDate'] = pd.to_datetime(df['ListedDate'])

In [224]:
df = df.pivot(index='ListedDate', columns='SecuCode', values='SecuCategory')

In [225]:
df = df.ffill().fillna(-1)

In [226]:
date_range = pd.date_range(start='1990-12-01', end='2023-12-29', freq='D')
df = df.reindex(date_range)
df = df.ffill().fillna(-1)

In [227]:
df

SecuCode,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688786.SH,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH
1990-12-01,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1990-12-02,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1990-12-03,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1990-12-04,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1990-12-05,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-26,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-27,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [228]:
df = df[df.index > '2000-01-03']

In [229]:
df

SecuCode,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688786.SH,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH
2000-01-04,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2000-01-05,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2000-01-06,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2000-01-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2000-01-08,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-26,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-27,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-12-29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [230]:
df = df.to_csv('上市日期.csv')

In [38]:
df1 = pd.read_csv('specialtrade.csv')

In [39]:
df1

,ID,InnerCode,InfoPublDate,SecurityAbbr,SpecialTradeType,SpecialTradeTime,SpecialTradeExplain,SpecialTradeReason,InsertTime,UpdateTime,JSID
0,723849350770,11,2000-04-29 00:00:00,ST金田A,1,2000-05-09 00:00:00,"公司已连续两年亏损,且每股净资产已低于面值",NaN,2022-12-08 21:18:16,2022-12-08 21:18:16,723958262914
1,723849350893,11,2001-05-09 00:00:00,PT金田A,3,2001-05-11 00:00:00,公司已连续三年亏损，深圳证券交易所根据《公司法》、中国证监会《亏损上市公司暂停上市和终止上市...,NaN,2022-12-08 21:18:16,2022-12-08 21:18:16,723958262913
2,723849350796,12,2000-04-29 00:00:00,ST金田B,1,2000-05-09 00:00:00,"公司已连续两年亏损,且每股净资产已低于面值",NaN,2022-12-08 21:18:16,2022-12-08 21:18:16,723958262921
3,723849350712,12,2001-05-09 00:00:00,PT金田B,3,2001-05-11 00:00:00,公司已连续三年亏损，深圳证券交易所根据《公司法》、中国证监会《亏损上市公司暂停上市和终止上市...,NaN,2022-12-08 21:18:16,2022-12-08 21:18:16,723958262897
4,4643700763162,14,1999-04-24 00:00:00,ST深安达,1,1999-04-27 00:00:00,"根据蛇口中华会计师事务所出具的本公司1998年度财务审计报告所显示的结果,本公司净资产为69...",NaN,2020-05-19 16:25:55,2022-09-23 15:33:41,717329246937
...,...,...,...,...,...,...,...,...,...,...,...
3386,725061634486,258180,2022-04-27 00:00:00,*ST恒誉,5,2022-04-28 00:00:00,"公司2021年度实现归属于上市公司股东的扣除非经常性损益前后的净利润孰低为负值,且2021年...",NaN,2022-12-22 22:08:15,2022-12-22 22:08:15,725284668521
3387,736563003988,258180,2023-05-05 00:00:00,恒誉环保,6,2023-05-08 00:00:00,"公司2022年度的营业收入为16,530.34万元,扣除与主营业务无关的业务收入后营...",NaN,2023-05-05 00:43:05,2023-05-05 00:43:05,736591181332
3388,648581656613,300111,2020-05-30 00:00:00,ST国重装,1,2020-06-08 00:00:00,"公司股票将于2020年6月8日在上海证券交易所重新上市交易,公司股票简称为“ST国重装”,重...",NaN,2020-07-20 17:35:04,2020-07-20 17:35:04,648581703693
3389,673901256565,300111,2021-05-10 00:00:00,国机重装,2,2021-05-11 00:00:00,"根据《上海证券交易所股票上市规则》第13.9.10条之规定,公司股票将于2021年5...",NaN,2021-05-09 18:50:04,2021-05-09 18:50:04,673901403717
3390,735769183935,346113,2023-04-26 00:00:00,*ST富吉,5,2023-04-27 00:00:00,"根据《上海证券交易所科创板股票上市规则》第12.4.5条等相关规定,公司股票将于20...",NaN,2023-04-25 19:23:12,2023-04-25 19:23:12,735778996176

In [40]:
df1 = df1.iloc[:, [1, 4, 5]]

In [43]:
df1['SpecialTradeTime'] = pd.to_datetime(df1['SpecialTradeTime']).dt.strftime('%Y-%m-%d')

/var/folders/n7/hnlkj7_56ddd279tj0k4752c0000gn/T/ipykernel_3886/1076836261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SpecialTradeTime'] = pd.to_datetime(df1['SpecialTradeTime']).dt.strftime('%Y-%m-%d')

In [44]:
df1

      InnerCode  SpecialTradeType SpecialTradeTime
0            11                 1       2000-05-09
1            11                 3       2001-05-11
2            12                 1       2000-05-09
3            12                 3       2001-05-11
4            14                 1       1999-04-27
...         ...               ...              ...
3386     258180                 5       2022-04-28
3387     258180                 6       2023-05-08
3388     300111                 1       2020-06-08
3389     300111                 2       2021-05-11
3390     346113                 5       2023-04-27

[3391 rows x 3 columns]

In [45]:
# 假设你想要根据 InnerCode 列进行左连接
merged_df = pd.merge(df, df1, on='InnerCode', how='right')

In [46]:
merged_df = merged_df.dropna()

In [47]:
merged_df

      InnerCode   SecuCode  SpecialTradeType SpecialTradeTime
0            11  000003.SZ                 1       2000-05-09
1            11  000003.SZ                 3       2001-05-11
4            14  000004.SZ                 1       1999-04-27
5            14  000004.SZ                 2       2001-03-06
6            14  000004.SZ                 5       2006-04-21
...         ...        ...               ...              ...
3386     258180  688309.SH                 5       2022-04-28
3387     258180  688309.SH                 6       2023-05-08
3388     300111  601399.SH                 1       2020-06-08
3389     300111  601399.SH                 2       2021-05-11
3390     346113  688272.SH                 5       2023-04-27

[3106 rows x 4 columns]

In [48]:
merged_df.to_csv('st表新.csv')

In [3]:
df1 = df1.iloc[:, [1, 3, 4]]
# 假设 df 是你的 DataFrame
df1.loc[:, 2] = pd.to_datetime(df1.iloc[:, 2], format='%Y%m%d').dt.strftime('%Y-%m-%d')
df1 = df1.drop(df1.columns[2], axis=1)

In [4]:
df1.columns = ['1', '2' ,'3']

In [5]:
df1

               1          2           3
0     F100008090  103700301  2003-02-24
1     F100008090  103700301  2022-04-29
2     F100008180  103700301  2009-12-02
3     F106008740  103700301  1999-05-17
4     F106008910  103700301  2019-04-10
...          ...        ...         ...
3021  F100024330  103700301  2023-05-09
3022  F106002260  103700302  2023-05-10
3023  F106002390  103700302  2023-05-10
3024  F100021020  103700302  2023-05-11
3025  F100024270  103700306  2023-05-12

[3026 rows x 3 columns]

In [6]:
df2 = df2.iloc[:, [1, 2]]
df2

          f1_0002 f2_0002
0      F100000010  000001
1      F100000020  000002
2      F100000030  000003
3      F100000040  000004
4      F100000050  000005
...           ...     ...
34057  F800046879  399020
34058  F800046880  399019
34059  F800046881  399750
34060  F800046882    CRGX
34061  F800046883     SGN

[34062 rows x 2 columns]

In [7]:
df2['f2_0002'] = df2['f2_0002'].astype(str).apply(lambda x: x + '.SZ' if x.startswith(('0', '3')) else (x + '.SH' if x.startswith('6') else x))

In [8]:
df2.columns = ['1', '2']

In [9]:
merged_df = pd.merge(df1, df2, on='1', how='inner')

In [10]:
merged_df.columns = ['inner_id', 'status', 'day', 'id']

In [13]:
merged_df.to_csv('st表.csv')

# 提取整个A股的数据，通过是否停盘筛选

In [46]:
df = pd.read_csv('total_stock.csv', index_col=0)

In [47]:
df

,S_INFO_WINDCODE,TRADE_DT,S_DQ_PRECLOSE,S_DQ_OPEN,S_DQ_CLOSE,S_DQ_PCTCHANGE
0,600606.SH,1992-03-27,35.30,35.30,35.30,0.0000
1,600606.SH,1992-03-30,35.30,35.30,35.30,0.0000
2,600606.SH,1992-03-31,35.30,35.30,35.30,0.0000
3,600606.SH,1992-04-01,35.30,35.30,35.30,0.0000
4,600606.SH,1992-04-02,35.30,35.30,35.30,0.0000
...,...,...,...,...,...,...
15382806,600114.SH,2023-12-27,13.90,13.81,13.90,0.0000
15382807,301088.SZ,2023-12-21,15.12,15.12,15.30,1.1905
15382808,002556.SZ,2023-12-20,5.92,5.91,5.80,-2.0270
15382809,600490.SH,2023-12-29,2.98,2.97,2.99,0.3356
15382810,603107.SH,2023-12-25,23.35,23.33,23.12,-0.9850

In [48]:
df = df.iloc[:, [0,1,3]]

In [49]:
df

         S_INFO_WINDCODE    TRADE_DT  S_DQ_OPEN
0              600606.SH  1992-03-27      35.30
1              600606.SH  1992-03-30      35.30
2              600606.SH  1992-03-31      35.30
3              600606.SH  1992-04-01      35.30
4              600606.SH  1992-04-02      35.30
...                  ...         ...        ...
15382806       600114.SH  2023-12-27      13.81
15382807       301088.SZ  2023-12-21      15.12
15382808       002556.SZ  2023-12-20       5.91
15382809       600490.SH  2023-12-29       2.97
15382810       603107.SH  2023-12-25      23.33

[15011931 rows x 3 columns]

In [50]:
# 检查整个DataFrame是否存在NaN值
has_nan = df.isna().any().any()
print("DataFrame中是否存在NaN值:", has_nan)

# 检查每列是否存在NaN值
nan_columns = df.columns[df.isna().any()].tolist()
print("存在NaN值的列:", nan_columns)

DataFrame中是否存在NaN值: False
存在NaN值的列: []

In [51]:
# df['S_DQ_STOPPIN'] = df['S_DQ_PRECLOSE'] * 1.1
# df['S_DQ_STOPPIN'] = df['S_DQ_STOPPIN'].round(2)

In [52]:
# rows_to_drop = df[df['S_INFO_WINDCODE'].str.endswith('.BJ')].index

# # 删除这些行
# df = df.drop(rows_to_drop)

In [53]:
# df['TRADE_DT'] = pd.to_datetime(df['TRADE_DT'], format='%Y%m%d').dt.strftime('%Y-%m-%d')

In [57]:
df = df[df['TRADE_DT'] > '1999-12-29']

In [58]:
df

         S_INFO_WINDCODE    TRADE_DT  S_DQ_OPEN
419522         000003.SZ  1999-12-30       5.50
419523         000003.SZ  2000-01-04       5.48
419524         000003.SZ  2000-01-05       5.75
419525         000003.SZ  2000-01-06       5.65
419526         000003.SZ  2000-01-07       5.85
...                  ...         ...        ...
15382806       600114.SH  2023-12-27      13.81
15382807       301088.SZ  2023-12-21      15.12
15382808       002556.SZ  2023-12-20       5.91
15382809       600490.SH  2023-12-29       2.97
15382810       603107.SH  2023-12-25      23.33

[14189255 rows x 3 columns]

In [59]:
df = df[df['S_INFO_WINDCODE'].astype(str).str.startswith(('0', '3', '6'))]

In [60]:
df = df.pivot(index='TRADE_DT', columns='S_INFO_WINDCODE', values='S_DQ_OPEN')

In [61]:
df = df.fillna(0)

In [62]:
df.index.name = None
df.columns.name = None

In [63]:
df = df.shift(1)

In [64]:
df = df.drop(df.index[0])

In [65]:
df

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
2000-01-04,17.47,9.70,5.50,8.69,6.08,9.49,8.00,42.08,3.53,7.30,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2000-01-05,17.50,9.80,5.48,8.55,6.10,9.56,8.20,42.35,3.55,7.38,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2000-01-06,18.35,10.35,5.75,8.75,6.25,9.70,8.28,45.00,3.60,7.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2000-01-07,18.02,10.00,5.65,9.00,6.17,9.50,8.02,45.65,3.60,7.55,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2000-01-10,19.00,10.58,5.85,9.25,6.60,10.05,8.60,46.83,3.73,7.78,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,9.19,10.40,0.00,16.54,1.08,4.63,4.88,2.37,11.64,3.17,...,74.58,37.85,99.00,33.72,68.16,50.50,38.78,27.68,54.49,31.28
2023-12-26,9.18,10.34,0.00,16.07,1.07,4.45,4.86,2.35,11.60,3.10,...,70.87,36.98,102.08,32.65,67.13,50.85,38.25,27.76,54.60,30.85
2023-12-27,9.19,10.30,0.00,15.75,0.99,4.42,4.81,2.33,11.60,3.08,...,71.00,37.59,101.70,32.64,67.85,48.02,39.30,27.52,53.01,30.14
2023-12-28,9.10,10.17,0.00,15.39,1.03,4.46,4.83,2.32,11.59,3.04,...,68.80,36.15,99.64,31.95,65.13,46.98,38.51,27.45,51.83,27.90
2023-12-29,9.11,10.15,0.00,15.68,1.04,4.55,4.78,2.34,11.61,3.10,...,69.70,36.75,100.79,31.50,66.34,47.69,37.42,27.02,51.70,28.58

In [ ]:
df

In [66]:
df.to_csv('昨开盘.csv')

In [54]:
# df.loc[df['S_DQ_TRADESTATUSCODE'] == 0, 'S_DQ_CLOSE'] = 0

In [55]:
df = df.sort_values('TRADE_DT')

In [56]:
df = df.pivot(index='TRADE_DT', columns='S_INFO_WINDCODE', values='S_DQ_ADJOPEN')

In [57]:
df.index.name = None

In [58]:
df.columns.name = None

In [59]:
df

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
2022-12-20,1477.7500,3249.0900,38.0800,16.6800,229.7400,64.4500,52.6600,109.2200,40.0800,48.8300,...,64.9300,52.7400,172.7600,53.4800,102.7300,37.6800,109.8200,37.6800,41.58,32.08
2022-12-21,1464.0800,3254.2800,38.3200,16.9600,212.6100,64.5300,52.6600,107.7900,41.3700,45.2300,...,62.3000,53.1000,172.4000,51.0300,100.4400,36.4900,107.3400,37.1700,41.73,32.92
2022-12-22,1481.1700,3271.5600,37.8300,16.8700,227.8000,67.1000,52.6600,106.6300,41.9100,47.3200,...,60.8400,51.5700,167.7700,51.5100,101.0400,35.5100,104.8100,37.0700,41.55,32.19
2022-12-23,1464.0800,3212.8000,37.7900,16.7700,214.1700,63.9500,51.7600,112.6000,40.5100,46.8300,...,58.0500,50.4000,169.0400,51.3100,100.7100,33.8300,105.0100,35.6100,40.90,31.26
2022-12-26,1480.0300,3238.7200,37.9600,17.0500,221.5700,65.3600,51.5400,110.7300,40.1900,47.1500,...,58.2900,50.6700,165.6500,53.5300,95.5100,33.8300,99.2900,35.6100,40.90,32.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-13,1094.7652,1971.4861,71.8084,11.0284,189.9556,40.6721,55.7966,106.5582,35.4483,39.7935,...,114.1239,56.0440,153.7932,49.8192,103.5576,51.8883,57.6568,30.1813,54.00,32.65
2023-12-14,1074.9241,1938.7794,70.2235,10.8431,190.7504,41.4176,55.5726,105.9330,35.0173,39.7086,...,114.4488,54.9723,148.8369,48.5840,101.1548,50.9468,56.1295,29.8033,54.00,32.18
2023-12-15,1073.7570,1931.5113,69.0450,10.1017,195.9166,41.1691,55.1244,104.9504,35.2328,40.3026,...,110.1833,54.9009,144.9070,49.1519,101.4499,50.2668,55.2244,29.8873,53.29,31.85
2023-12-18,1071.4227,1918.7920,67.7852,10.1944,190.7504,41.3348,54.9003,103.9679,34.6940,39.7511,...,110.1692,54.1292,145.7575,48.9673,98.4148,52.2544,56.1436,29.7089,53.49,31.43
2023-12-19,1064.4199,1909.7068,66.8505,10.1944,188.3661,40.0094,54.4522,103.6106,34.4786,39.0299,...,112.6268,53.4147,144.4377,47.7748,97.0097,50.0994,54.5597,29.0475,53.65,31.42

In [45]:
# df= df.shift(1)

In [60]:
df = df.drop(df.index[0])  # 删除第一行

In [61]:
df = df.fillna(0)

In [32]:
df.loc[:,'600767.SH']

2022-12-21    5.02
2022-12-22    5.00
2022-12-23    5.05
2022-12-26    4.83
2022-12-27    4.90
              ...
2023-12-13    0.00
2023-12-14    0.00
2023-12-15    0.00
2023-12-18    0.00
2023-12-19    0.00
Name: 600767.SH, Length: 242, dtype: float64

In [179]:
# df = df[df['S_DQ_TRADESTATUSCODE'] != 0]

In [172]:
# df.set_index(['TRADE_DT', 'S_INFO_WINDCODE'], inplace=True)

In [62]:
df.to_csv('开盘价复权.csv')

# 测试

### 专门搜索某一张表的某一个股票

In [38]:
df11 = pd.read_csv('收盘价.csv', index_col=0)

In [39]:
df11

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
2022-12-21,1608.691814,2252.196475,39.13271,9.136609,226.952582,65.682536,3.784046,129.959339,35.12032,39.746763,...,61.250,52.646,169.2600,51.0760,101.390,35.22,104.280,36.60,41.29,32.00
2022-12-22,1616.193083,2256.123767,39.13271,9.136609,226.312555,61.313897,3.136791,137.784296,34.07200,40.083479,...,57.870,51.498,170.8600,52.4960,102.560,34.02,105.920,35.87,41.07,31.40
2022-12-23,1619.943717,2262.669255,39.38516,9.467058,246.153408,63.883685,2.813163,136.045417,33.48960,41.194643,...,59.140,51.428,167.4600,54.5260,96.150,34.04,101.610,35.69,41.06,32.33
2022-12-26,1593.689277,2208.996255,39.99104,9.467058,254.473766,63.241238,3.460419,137.675616,35.12032,40.857927,...,60.980,52.912,167.4800,52.0860,96.500,33.45,109.020,37.38,41.43,32.25
2022-12-27,1636.196466,2227.323621,41.20280,10.293182,292.875417,62.855770,4.107674,133.763138,35.35328,41.699718,...,60.260,53.430,166.8100,53.5760,98.890,32.63,111.320,37.96,41.48,32.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-13,1142.647955,1197.743840,79.42373,0.000000,174.564326,25.465354,8.638462,129.342260,28.24800,33.036719,...,114.378,55.964,148.5970,49.4284,101.710,50.92,56.562,30.15,53.75,32.05
2023-12-14,1141.397743,1179.416474,78.01001,0.000000,179.044518,25.722333,7.991207,128.255460,28.36448,33.474450,...,109.940,55.880,145.9000,49.7504,102.536,49.95,55.708,30.19,53.10,31.80
2023-12-15,1148.899012,1197.743840,76.94972,0.000000,179.684546,26.107801,7.991207,127.168661,27.89856,33.609137,...,109.870,55.600,146.9295,49.8204,100.100,51.63,56.492,30.18,53.60,31.38
2023-12-18,1138.897320,1184.652864,75.73796,0.000000,172.644243,24.822907,7.020324,127.168661,27.43264,32.935704,...,111.452,54.130,145.5085,49.3584,97.384,49.80,54.742,29.47,53.74,31.38
2023-12-19,1135.146686,1163.707303,76.94972,0.000000,169.444106,24.051971,6.373068,127.386021,27.19968,32.598988,...,111.704,55.166,142.8550,49.4844,97.804,51.05,55.274,29.26,54.76,31.03

In [46]:
df11.loc[:, '301225.SZ']

2022-12-21     0.00
2022-12-22     0.00
2022-12-23     0.00
2022-12-26     0.00
2022-12-27     0.00
              ...
2023-12-13    34.88
2023-12-14    34.31
2023-12-15    34.65
2023-12-18    35.19
2023-12-19    34.96
Name: 301225.SZ, Length: 242, dtype: float64

In [25]:
df11.to_csv('收盘价.csv')

In [168]:
def determine_status_sign(status):
    """
    本函数用于处理异常的股票，给股票打上标签，如果成分异常，则打上-1；如果成分正常或者由异常变为正常，则打上1。
    1	ST
    3	PT
    2	撤销ST
    5	*ST
    7	撤消*ST并实行ST
    8	从ST变为*ST
    12	叠加ST
    6	撤销*ST
    9	退市整理期
    4	撤销PT
    13	撤销叠加ST
    14	叠加*ST
    15	撤销叠加*ST
    10	高风险警示
    11	撤销高风险警示
    :param status: 成分异常的表中有一列名为status，根据status的值分别给股票打上标签
    :return: 返回一个具有标签的Dataframe
    """
    if status in [1, 5, 7, 8, 9, 12, 13, 14]:
        return -1
    elif status in [2, 3, 4, 6]:
        return 1
    else:
        return None

In [170]:
df_st = pd.read_csv('st表.csv', index_col=0)
# 利用-1和1区别status数值，并存在status sign中
df_st['sign'] = df_st['SpecialTradeType'].apply(determine_status_sign)
# 删除inner_id和status，只保留日期day，股票名字id和status sign
df_st = df_st.drop(df_st.columns[[0, 2]], axis=1)
# 将两列打成一行z一列，index为day列，行为id列，数值则是status sign
df_ST_pivot = df_st.pivot(index='SpecialTradeTime', columns='SecuCode', values='sign')
df_ST_pivot.index = pd.to_datetime(df_ST_pivot.index)
df_ST_pivot = df_ST_pivot.resample('D').asfreq()
# 向后传播填写NaN，再把其他的NaN填充为1
df_ST_pivot = df_ST_pivot.ffill().fillna(1)
# 补充日期，从1988.4.28到2023.12.18
df_ST_pivot.index

DatetimeIndex(['1998-04-28', '1998-04-29', '1998-04-30', '1998-05-01',
               '1998-05-02', '1998-05-03', '1998-05-04', '1998-05-05',
               '1998-05-06', '1998-05-07',
               ...
               '2023-12-16', '2023-12-17', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-23',
               '2023-12-24', '2023-12-25'],
              dtype='datetime64[ns]', name='SpecialTradeTime', length=9373, freq='D')

In [171]:
date_range = pd.date_range(start='1988-04-28', end='2023-12-29', freq='D')
# 填充日期，如果是全量数据就不需要这个数据
df_ST_pivot = df_ST_pivot.reindex(date_range)
df_ST_pivot = df_ST_pivot.ffill().fillna(1)
df_ST_pivot

SecuCode,000003.SZ,000004.SZ,000005.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,000013.SZ,000014.SZ,...,603779.SH,603810.SH,603863.SH,603880.SH,603996.SH,688086.SH,688272.SH,688309.SH,688500.SH,688555.SH
1988-04-28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1988-04-29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1988-04-30,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1988-05-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1988-05-02,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,1.0,1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0
2023-12-26,1.0,1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0
2023-12-27,1.0,1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0
2023-12-28,1.0,1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0
2023-12-29,1.0,1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0

In [ ]:
df_ST_pivot.index.name = 'day'
df_ST_pivot.rename(columns={'0': 'sign'}, inplace=True)
# 将dataframe变成mutindex，方便之后merge
df_ST_stack = pd.DataFrame(df_ST_pivot.stack())
df_ST_stack.columns = ['sign']
df_ST_stack.index.names = None, None